<span class="foot-pad">
    <a href="https://github.com/mscheetz/movrstakr" target="_blank">
        <i class="fab fa-github white-text" c></i>
    </a>
</span>
<span class="foot-pad"> | </span>
Donate:
<span class="symbol foot-pad" (click)="getAddress('btc')">BTC</span>
<span class="symbol foot-pad" (click)="getAddress('dot')">DOT</span>
<span class="symbol foot-pad" (click)="getAddress('erc20')">ERC20</span>
<span class="symbol foot-pad" (click)="getAddress('xhv')">XHV</span>
<span class="symbol foot-pad" (click)="getAddress('xmr')">XMR</span>
