.main-container{
    padding-bottom: 48px;
}
.footer-container {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width:100%;
    z-index: 102;
    background-color: #883cae;
    color: #fff;
}