<div>
    <p-card [style]="{ 'margin-top': '5px'}">
        <div>
            Address: <strong>{{stakingData.address}}</strong>
        </div>
        <div>
            Current $MOVR Price: <strong>{{stakingData.price | currency}} (USD)</strong>
        </div>
        <div>
            Staked $MOVR: <strong>{{stakingData.totalStaked}} ({{ stakingData.price * stakingData.totalStaked | currency }})</strong>
        </div>
        <div>
            $MOVR Total Rewards: <strong>{{stakingData.totalReward}}</strong>
        </div>
        <div>
            Total Staking Time: <strong>{{stakingData.stakingTotalTime}}</strong>
        </div>
        <div>
            Total Staking Hours: <strong>{{stakingData.stakingHours}}</strong>
        </div>
    </p-card>
    <p-table responsiveLayout="scroll" [value]="stakingData.potentialIntervals">
        <ng-template pTemplate="caption">
            Projections (Based on avg rewards/day)
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Period</th>
                <th>Reward</th>
                <th>% of Initial</th>
                <th>Current Value (USD)</th>
                <th>Value $500/MOVR</th>
                <th>Value $900</th>
                <th>Value $1000</th>
                <th>Value $2000</th>
                <th>Value $5000</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-int let-columns="columns">
            <tr>
                <td>
                    <ng-container *ngIf="int < 365">{{ int }}
                        <span *ngIf="int === 1">Day</span>
                        <span *ngIf="int > 1 && int < 365">Days</span>
                    </ng-container>
                    <ng-container *ngIf="int >= 365">{{ int / 365 }} 
                        <span *ngIf="int === 365">Year</span>
                        <span *ngIf="int > 365">Years</span>
                    </ng-container>
                </td>
                <td>{{ (int * stakingData.futureRewards[1].movr) | number : '1.10-10' }}</td>
                <td>{{ ((int * stakingData.futureRewards[1].movr) / stakingData.totalStaked) | percent : '1.2-2' }}</td>
                <td>{{ (int * stakingData.futureRewards[1].movr) * stakingData.price | currency }}</td>
                <td>{{ (int * stakingData.futureRewards[1].movr) * 500 | currency }}</td>
                <td>{{ (int * stakingData.futureRewards[1].movr) * 900 | currency }}</td>
                <td>{{ (int * stakingData.futureRewards[1].movr) * 1000 | currency }}</td>
                <td>{{ (int * stakingData.futureRewards[1].movr) * 2000 | currency }}</td>
                <td>{{ (int * stakingData.futureRewards[1].movr) * 5000 | currency }}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-table responsiveLayout="scroll" [value]="stakingData.futureRewards">
        <ng-template pTemplate="caption">
            Averages
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th></th>
                <th>$MOVR</th>
                <th>$ USD</th>
                <th>Hours (Til 1 MOVR)</th>
                <th>Days (Til 1 MOVR)</th>
                <th>Hours (Til Next MOVR)</th>
                <th>Days (Til Next MOVR)</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fut let-columns="columns">
            <tr>
                <th>{{fut.label}}</th>
                <th>{{fut.movr | number : '1.10-10' }}</th>
                <th>{{fut.usd | currency : '1.2-2' }}</th>
                <th>{{fut.hrsTil1Movr | number : '1.2-2' }}</th>
                <th>{{fut.daysTil1Movr | number : '1.2-2' }}</th>
                <th>{{fut.hrsTilNextMovr | number : '1.2-2' }}</th>
                <th>{{fut.daysTilNextMovr | number : '1.2-2' }}</th>
            </tr>
        </ng-template>
    </p-table>    
    <div style="margin-bottom: 20px;">
        <app-rewards [rewards]="stakingData.rewards"></app-rewards>
    </div>
</div>
